  fieldset{
  width:260px;
  height:auto;
  margin:auto;
  }
  a{
  padding:7px;
  background-color:#ccc;
  color:#000;
  text-decoration:none;
  }
  a:hover{
  background-color:#606060;
  box-shadow: 0  3px 0 #ccc;
  color:#fff;
  }
  table{
  margin:20px;
  width:70%;
  }
